In [2]:
import sqlite3

In [3]:
laundry_mat_data = [
    {
        "product": "Detergent",
        "dollar_price_per_unit": 4.5,
        "quantity": 100,
        "total_cost": 200,
    },
    {
        "product": "Dryer Sheets Box",
        "dollar_price_per_unit": 3.5,
        "quantity": 100,
        "total_cost": 350,
    },
    {
        "product": "Washing Machine",
        "dollar_price_per_unit": 400,
        "quantity": 25,
        "total_cost": 10000,
    },
    {
        "product": "Dryer",
        "dollar_price_per_unit": 400,
        "quantity": 25,
        "total_cost": 10000,
    },
]

In [5]:
conn = sqlite3.connect("laudnry_mat.db")
cursor = conn.cursor()

In [6]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS laundry_mat (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    product TEXT NOT NULL,
    dollar_price_per_unit REAL NOT NULL,
    quantity INTEGER NOT NULL,
    total_cost REAL NOT NULL
)
""")

In [7]:
cursor.execute("DELETE FROM laundry_mat")

In [9]:
for record in laundry_mat_data:
    cursor.execute("""
    INSERT INTO laundry_mat
        (product, dollar_price_per_unit, quantity, total_cost)
    VALUES
        (?, ?, ?, ?)""",
    (record["product"], record["dollar_price_per_unit"], record["quantity"], record["total_cost"])
)

In [11]:
for record in laundry_mat_data:
    cursor.execute("""
        INSERT OR IGNORE INTO laundry_mat
            (product, dollar_price_per_unit, quantity, total_cost)
        VALUES (?, ?, ?, ?)
        """,
        (record["product"], record["dollar_price_per_unit"], record["quantity"], record["total_cost"])
    )